<!--create  wordle for twitter tweets with #launch-->
<!--create-->
<!--(green)create <i>wordle-->
<!--(green)create <i>wordle for (in ignore list) <i>twitter -->
<!--- tweets -->
<!--- users -->
<!--- trends -->
<!--(green)create <i>wordle for (in ignore list) <i>twitter tweets-->
<!--containing-->
<!--from-->
<!--to-->
<!--(green)create <i>wordle for (in ignore list) <i>twitter tweets containing-->
<!--hashtag-->
<!--text-->
<!--(green)create <i>wordle for (in ignore list) <i>twitter tweets containing hashtag-->
<!-- shows top trends-->

<div id="sign_up1" class="animated fadeInDown">

  <!-- todo dont make this so static -->
  <div style="padding-top: 100px; width: 100%;"></div>

  <div class="col-md-3"></div>
  <div class="col-md-6 animated zoomIn" style="-webkit-animation-delay: .5s;">
    <h2 >
      The First API Engine
    </h2>
    <!--// todo make this look better-->
    <h3>
      Save Time Implementing API's
    </h3>
    <br/>
    <br/>
    <h3>Create Your Own Flow</h3>
    <flow></flow>
  </div>
  <div class="col-md-3"></div>
</div>

<!-- We'll also add some navigation: -->

<div id="features">
  <div class="container">
    <div class="section_header">
      <h3>Example Flows</h3>
    </div>
    <div class="row feature">
      <div class="col-sm-6">
        <img src="img/BestBuyToCoinbase.png" class="img-responsive" />
      </div>
      <div class="col-sm-6 info">
        <h3>
            <i class="fa fa-dollar" style="color: green;"></i>
          Purchase Best Buy item with Coinbase
        </h3>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
        </p>
      </div>
    </div>
    <div class="row feature">
      <div class="col-sm-6 pic-right">
        <img src="img/FacebookToDropbox.png" class="pull-right img-responsive" />
      </div>
      <div class="col-sm-6 info info-left">
        <h3>
          <img src="img/features-ico2.png" />
          Upload Facebook photo to Dropbox
        </h3>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
        </p>
      </div>
    </div>
    <div class="row feature">
      <div class="col-sm-6">
        <img src="img/FacebookToDropbox.png" class="img-responsive" />
      </div>
      <div class="col-sm-6 info">
        <h3>
          <img src="img/features-ico3.png" />
            Upload Facebook photo to Dropbox
        </h3>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
        </p>
      </div>
    </div>
  </div>
</div>

<script>
</script>



