<!--create  wordle for twitter tweets with #launch-->
<!--create-->
<!--(green)create <i>wordle-->
<!--(green)create <i>wordle for (in ignore list) <i>twitter -->
<!--- tweets -->
<!--- users -->
<!--- trends -->
<!--(green)create <i>wordle for (in ignore list) <i>twitter tweets-->
<!--containing-->
<!--from-->
<!--to-->
<!--(green)create <i>wordle for (in ignore list) <i>twitter tweets containing-->
<!--hashtag-->
<!--text-->
<!--(green)create <i>wordle for (in ignore list) <i>twitter tweets containing hashtag-->
<!-- shows top trends-->

<div id="sign_up1" class="animated fadeInDown" style="color: white; text-align: center;">

  <!-- todo dont make this so static -->
  <div style="padding-top: 100px; width: 100%;"></div>

  <div class="col-md-8 col-md-offset-2 animated zoomIn" style="-webkit-animation-delay: .5s;">
    <h2 style="padding-top: 100px; font-family: 'raleway';font-size: 2.6em; color: white;">
    YOU FOCUS ON FUNCTIONALITY, WE FOCUS ON APIS.
    </h2>
    <p style="text-align: center; font-size: 1.6em; top: 35px;position: relative">
      API-Flow provides a <span style="font-weight: bold;">single endpoint</span> for all your API's. No more searching documentation, frustrating over OAuth, and updating depreciated API calls. Save time and sanity by using API-Flow.
    </p>
    <!--// todo make this look better-->
    <br/>
    <br/>
    <h3 style="padding-top: 100px;font-family: 'raleway';">Take it for a spin</h3>
    <flow></flow>
  </div>
</div>


<div class="row" id="results-voila" style="text-align: center; padding-top: 100px; padding-bottom: 100px;" ng-controller="successCtrl" ng-show="data.show">
  <div class="col-md-8 col-md-offset-2">
    <h4 class="text-success animated tada" style="font-family: 'raleway'; font-size: 1.5em; ">Congratulations! you have successfully created this flow.</h4>
    <div class="well voila" style="font-size: 2em; margin-top: 80px">
      {{data.visualUrl}}
    </div>
    <span style="margin-top: 25px;">
      <button class="btn btn-success col-md-3 col-md-offset-3" style="font-size: 1.6em;" ng-click="openFlow()">Run Now</button>
      <button class="btn btn-primary col-md-3" style="margin-left: 10px; font-size: 1.6em;" ng-click="openFlow()">Copy Endpoint</button>
    </span>
  </div>
</div>
